@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: #242526;
  background-color: #fff;
  height: 200vh;
}
input {
  background-color: #f0f2f5;
}

.bg-2 {
  background-color: #efefef;
}

[data-theme='dark'] body {
  color: #fff;
  background-color: #1c1e21;
}
[data-theme='dark'] .bg-2 {
  background-color: #bebec210;
}
