@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply !scrollbar-thumb-[#bebec2] !scrollbar-thin !scrollbar-track-[#bebec210];
  }
}

body {
  color: #242526;
  background-color: #fff;
  height: 200vh;
}
input {
  background-color: #f0f2f5;
}

.bg-2 {
  background-color: #efefef;
}

[data-theme='dark'] body {
  color: #fff;
  background-color: #1c1e21;
}
[data-theme='dark'] .bg-2 {
  background-color: #313136;
}
